
/* style for homepage */
.jumbotron {
  background-image: url("rendering-graphics-in-resolution-222734.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white;
}
h1{

  font-family: 'Comic sans', serif;
  font-size: 60px;


}
.navbar{
font-family: 'Comic sans', serif;
  background-color: #72DAEA;

color: white;
  font-size: 20px;
}
/*1*/
/*provides consistant experience on click*/
.navbar-default .navbar-nav > li > a:focus {
    color: yellow;
}
.navbar-default .navbar-nav>.active>a:hover {
  color: grey;
}

.li-transparent{
  display: table;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
@media only screen and (min-width: 768px) {
  .li-transparent{
    display: inline;
  }




h2 {
  font-family: 'Comic sans', serif;
  font-weight: bold;
  font-size: 39px;
  color: pink;

}
h3{
  font-family: 'Comic sans', serif;
  font-weight: bold;
  font-size: 25px;
  color: grey;
  line-height: 0.7;
}
h4{  font-family: 'Comic sans', serif;
  font-weight: lighter;
  font-size: 19px;
  color: grey;
  line-height: 0.5;

}

p {
  font-family: 'Comic sans', serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.9;
  color: grey;
  margin: auto;
}


.btn-transparent{
  background-color: #F6F6F6;
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  margin-top:10px;
  font-size:20px;
}
.btn-transparent:hover   {
  color: #FFFFFF;
  background-color: rgba(255,255,255,0.25);
}

.btn-transparent:link {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-transparent:visited {
  color: #FFFFFF;
  border-color: #FFFFFF;
}


/* Styles for page wide buttons */
.btn-default{
  background-color: #F6F6F6;
  margin-top:10px;
  width: 100%;
  font-size:20px;
}

/* Styles for tiny buttons */
.btn-primary{
  background-color: black;
  color: white;
  font-size:20px;
}



  /*
	margin: auto;
	margin-bottom: 10px;
padding-top: 30px;
max-width: 780px;

  font-weight: 100;
  line-height: 1.2;
  color: white;
  text-align: center;
  padding: 20px;
  font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
 text-align: center;
}


/* galaxy
body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/colorful_starry_sky_glitter_background_seamless.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</Style>
gold stars
body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/golden_stars.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}
orange galaxy
body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/orange_starry_sky_glitter_background_seamless.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}*/
/*body{background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/stars_background.gif);background-position:top left;background-repeat:repeat;background-attachment:fixed;}
